/* ===FADE TRANSITION===== */
.visible {
  opacity: 1;
  transition: opacity .75s linear;
}

.hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

/* ===END TRANSITION===== */

/* ===ARTICLE STYLING===== */

.styled-button {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:36px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}

.button-one {
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.button-one:hover {
  cursor: pointer;
}

.button-two {
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.button-two-link {
  text-decoration: none;
}

.button-two-link:visited {
  text-decoration: none;
  color: white;
}

.navbar{
  position: fixed;
  z-index: 10;
  height: 30px;
}

.image-section{
  padding: 60px 0px;
}

.header-section{
  padding: 150px 0px;
}

.main-story{
  font-size: 18px;
  padding: 30px;
}

.article-image{
  max-width: 100%;
  height: auto;
  float: left;
}

.back-section{
  margin-top: 30px;
  margin-bottom: 20px;
}
