html, body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
}

.header{
  text-align: center;
  height: 100%;
  background-image: url('../img/oissuecoveredit.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  padding: 0px;
}


#main-page{
  /*jquery mobile's frame causes an overflow, dont know why =/ */
    overflow-y: hidden;
}

.image-section{
  padding: 30px;
}

.article-image{
  max-width: 100%;
  height: auto;
}
