html, body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
}

.header{
  text-align: center;
  height: 100%;
  background-image: url('../img/oissuecoveredit.jpg');
  background-size: cover;
  background-position: center top;
  padding: 0px;
}

h1 {
   text-align: center;
   text-transform: uppercase;
   border: 1px solid white;
   padding: 20px;
   margin: auto;
   width: 40%;
   min-width: 300px;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translateX(-50%);
   background-color: rgba(255, 255, 255, 0.8);
   color: black;
 }

#main-page{
  /*jquery mobile's frame causes an overflow, dont know why =/ */
    overflow-y: hidden;
}

.image-section{
  padding: 30px;
}


html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.article-image{
  max-width: 100%;
  height: auto;
}

.tile-container {
  display: flex;
  width: 1500px;

}

.tile-container li {
  list-style: none;
  width: 300px;
  height: 200px;
  background: red;
  margin-right: 30px;
}

.tile-container li:nth-child(odd) {
  margin-top: 10px;
}
