body {
  background: url('../img/oissuecoveredit.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.container {
  height: 100%;
}

.header{
  text-align: center;
}

.main-title {
   text-align: center;
   text-transform: uppercase;
   border: 1px solid white;
   padding: 20px;
   margin: 0 auto;
   display: block;
   min-width: 300px;
   background-color: rgba(255, 255, 255, 0.8);
   color: black;
   font-family: 'Lato', sans-serif;
   letter-spacing: 2px;
 }

.main-page-bottom{
  color: black;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  margin: 0px 80px 13px;
  display: block;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.footer-text{
  font-size: 11px;
  color: gray;
  margin-top: 20px;
}

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


.article-image{
  max-width: 100%;
  height: auto;
}

#tile-container {
  display: flex;
  width: 5000px;
  padding-left: 0px;

}

#tile-container li {
  list-style: none;
  width: 300px;
  height: 200px;
  background: transparent;
  background-size: cover;
  margin-right: 30px;
}

#tile-container li:nth-child(odd) {
  margin-top: 10px;
}

#tile-wrapper {
  z-index: 10000;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .main-page-bottom{
    color: black;
    font-size: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    margin: 0px 20px 5px;
    display: block;
    min-width: 150px;
    max-height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }
}
